<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userDao1"  class="pers.qianshifengyi.dao.impl.UserDaoImpl" />
    <bean id="userDao2"  class="pers.qianshifengyi.dao.impl.UserDaoImpl2" />

    <bean id="userService" class="pers.qianshifengyi.service.impl.UserServiceImpl" >
        <property name="userDao" ref="userDao1" />
    </bean>

    <bean id="recordLog" class="pers.qianshifengyi.spring.aop.xml.RecordLog" />

    <aop:config >
        <aop:pointcut id="myPointCut" expression="execution(public * pers.qianshifengyi.service..*.*(..))" />
        <aop:aspect id="myAspect1" ref="recordLog">
            <aop:before method="myBeforeLog" pointcut-ref="myPointCut" />
            <aop:after method="myAfterLog" pointcut-ref="myPointCut" />
            <aop:after-returning method="myAfterReturning" pointcut-ref="myPointCut" returning="myRetVal"/>
            <aop:around method="myAround" pointcut-ref="myPointCut" />
            <aop:after-throwing method="myAfterThrowing" pointcut-ref="myPointCut" />
        </aop:aspect>
    </aop:config>

</beans>